{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<h2>{{ title }}.</h2>

<div id="alertContainer">

</div>
<script src="/static/scripts/sys.js"></script>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function (event) {
            // 阻止默认的表单请求
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "/user/update",
                data: {
                    'userId': $("#hfuserId").val(),
                    'username': $("#txtusername").val(),
                    'note': $("#txtnote").val(),
                    'email': $("#txtemail").val(),
		            'password': $("#txtpassword").val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.state == 0) {
                        // 显示消息栏
                        bs_alert_Info(data.msg);
                    }
                }
            });
        });

    })
</script>
<form action="" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
        <legend>请完善用户信息</legend>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-6">
            <input type="hidden" value="{{ model.userId }}" name="userId" id="hfuserId">
            <input type="text" class="form-control" placeholder="UserName" value="{{ model.username }}" name="username" id="txtusername">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" placeholder="Email" value="{{ model.email }}" name="email" id="txtemail">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Note</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"  value="{{ model.note }}" name="note" id="txtnote">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"  value="{{ model.password }}" name="password" id="txtpassword">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <button type="button" id="btnSave">保存</button>
        </div>
    </div>
</form>


{% endblock %}