{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<h2>{{ title }}</h2>

<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th>
                    用户名
                </th>
                <th>
                    邮箱
                </th>
                <th>
                    管理员标识
                </th>
                <th>
                    创建时间
                </th>
               <th>
                    是否允许登录
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                
            </tr>
          
        </tbody>
    </table>
</div>

{% endblock %}